body {
	background-color: white;
	color: rgb(64,70,34);
}

a:link {
	color: rgb(0,72,144);	
}

a:visited {
	color: rgb(69,112,144);
}

a:hover {
	color: rgb(98,110,134);
}

p {
	font-family: "Lucida Grande",Verdana,sans-serif;
	font-size: 12pt;
}